@import url("https://fonts.googleapis.com/css2?family=Abel&family=Kaushan+Script&family=Open+Sans&family=Merienda&family=Montserrat");
@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-animation {
  transition: all 0.7s ease-in-out;
}

.button {
  background-color: #dc2626;
  color: #f3e9e9;
  border-radius: 0.75rem;
  padding: 0.5rem 2rem;
  border: 2px solid #f3e9e9;
}

.button:hover {
  color: #dc2626;
  border-color: #dc2626;
  background-color: #f3e9e9;
  @apply hover-animation;
}
